<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
</head>

<body>
    <form id="uploadForm" enctype="multipart/form-data" action="/api/upload" method="post">
        <input type="file" name="userPhoto" />
        <input type="submit" value="Upload Image" name="submit">
    </form>
</body>

</html>
